{
	"PicturesFolder": "/home/pi/Pictures",
	"PictureChangeIntervalSec": 60,
	"ShowClock": "True",
	"ClockSize": 60,
	"ClockColor": "&c5e5e5e",
	"ClockFont": "Quicksand",
	"ClockLeft": 650,
	"ClockTop": 450,
	"ScreenOffCommand": "sudo bash -c \"echo 1 > /sys/class/backlight/rpi_backlight/bl_power\"",
	"ScreenOnCommand": "sudo bash -c \"echo 0 > /sys/class/backlight/rpi_backlight/bl_power\""
}
