{
	// picture settings
	"PicturesFolder": "/Users/sw/Pictures/Pictures",
	"PictureChangeIntervalSec": 30,
	"FadePictures": "True",
	"FadeTimer": 20,

	// raspberry commands
	"ShutdownCommand": "sudo shutdown -h now",
	"RebootCommand": "sudo reboot",

	// screen commands, Raspberry touch screen
	// use commands below if the display is connected to the internal display connector
	"ScreenOffCommand": "sudo bash -c \"echo 1 > /sys/class/backlight/rpi_backlight/bl_power\"",
	"ScreenOnCommand": "sudo bash -c \"echo 0 > /sys/class/backlight/rpi_backlight/bl_power\"",
	
	// screen commands, HDMI display (vcgencmd needs to be installed)
	// use commands below if the display is connected via HDMI cable
	//"ScreenOffCommand": "vcgencmd display_power 0",
	//"ScreenOnCommand": "vcgencmd display_power 1",

	// clock settings
	"ShowClock": "True",
	"ClockSize": 50,
	"ClockColor": "&c5e5e5e",
	"ClockFont": "Quicksand",
	"ClockLeft": 450,
	"ClockTop": 350
}