{
	"PicturesFolder": "/Users/sw/Pictures/Pictures",
	"PictureChangeIntervalSec": 10,
	"ShowClock": "True",
	"ClockSize": 50,
	"ClockColor": "&c5e5e5e",
	"ClockFont": "Times New Roman",
	"ClockLeft": 450,
	"ClockTop": 350,
	"ScreenOffCommand": "sudo bash -c \"echo 1 > /sys/class/backlight/rpi_backlight/bl_power\"",
	"ScreenOnCommand": "sudo bash -c \"echo 0 > /sys/class/backlight/rpi_backlight/bl_power\"",
	"ShutdownCommand": "",
	"RebootCommand": ""
}